body {
    width: 100%;
    height: 100%;
    background: black url("images/bg.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #245bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

h4 {
    color: #DBA400;
}

details {
    background-color: white;
}

summary {
    background-color: #DBA400;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: .2s ease;
}

summary:hover {
    background-color: #B58800;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.dark-screen {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#welcome-screen {
    transition: 1.5s ease;
}

#welcome-text {
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 7vw;

}

#welcome-text2 {
    color: white;
    font-family: serif;
    font-size: 10vh;
    text-align: center;
    transition: .5s ease;
}

div.container-x {
    background-color: white;
    color: red;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    position: fixed;
}

div.container-x:hover {
    background-color: red;
    color: white;
}

/* NAVIGATION */

#nav {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

div.container-link {
    width: 60%;
    text-align: center;
    transition: .5s ease;
}

div.link {
    width: 200px;
    display: inline-block;
    margin: 5px 10px 10px 5px;
    padding: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
    border: 2px solid white;
    opacity: .7;
    cursor: pointer;
    transition: .3s ease;
}

div.link:hover {
    background-color: white;
    color: black;
}

#portfolio-link {
    color: #DBA400;
    border-color: #DBA400;
}

#portfolio-link:hover {
    background-color: #DBA400;
    color: black;
}

/* ABOUT */

#about {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

div.container-about {
    width: 250px;
    background-color: white;
    padding: 20px;
}

img.portrait {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
    transition: .3s ease;
}

img.portrait:hover {
    opacity: 0.7;
}

.header {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #DBA400; /*#245bff*/
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s ease;
}

.container-desc {
    text-align: justify;
    height: 200px;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}

.name {
    cursor: help;
    margin-bottom: 0;
}

.name:hover {
    background-color: #DBA400;
    color: white;
}

/* CONTACT */

#contact {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

div.container-contact {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon:hover {
    -webkit-filter: drop-shadow(2px 2px 2px grey);
    filter: drop-shadow(2px 2px 2px grey);
}

/* PORTFOLIO */

#portfolio {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

div.container-portfolio {
    background-color: white;
    padding: 20px;
    height: 80%;
    overflow-y: scroll;
    transition: .5s ease;
    width: 320px;
    scroll-behavior: smooth;
}

div.nav-projects {
    text-align: center;
    color: red;
}

div.nav-projects > a {
    background-color: white;
    color: black;
    padding: 2px;
    transition: .2s ease;
}

div.nav-projects>a:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    letter-spacing: 2px;
}

.project-section {
    background-color: #F0F0F0;
    padding: 5px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.project-img {
    width: 300px;
    height: auto;
    transition: .3s ease;
    margin-bottom: 10px;
    -webkit-filter: drop-shadow(3px 3px 3px grey);
    filter: drop-shadow(3px 3px 3px grey);
}

.project-img:hover {
    opacity: 0.7;
}

.project-desc {
    text-align: justify;
    transition: .5s ease;
    padding: 5px;
}

.credit {
    position: fixed;
    left: 2px;
    bottom: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    color: white;
    opacity: 0.5;
    cursor: help;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .header {
        font-size: 45px;
    }

    div.container-link {
        width: 70%;
    }

    div.container-about {
        width: 300px;
    }

    div.container-contact {
        width: 325px;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    #welcome-text {
        visibility: visible;
        transition: .5s ease;
    }

    #welcome-text2 {
        transition: 0s;
        visibility: hidden;
    }

    .header {
        font-size: 50px;
    }

    div.container-link {
        width: 85%;
    }

    div.container-about {
        width: 400px;
    }

    div.container-contact {
        width: 350px;
    }

    div.container-portfolio {
        width: 650px;
    }

    .project-section {
        min-height: 300px;
        overflow-y: auto;
    }

    .project-img {
        float: left;
    }

    .project-desc {
        text-align: justify;
    }

    details {
        float: right;
        width: 300px;
    }

}